<div class="container mx-auto p-4">
  <ng-container *ngIf="authService.isAuthenticated()">
    <!-- Show the Dashboard if the user is logged in -->
    <app-dashboard></app-dashboard>
  </ng-container>

  <ng-container *ngIf="!authService.isAuthenticated()">
    <!-- Show Login/Register forms if the user is not logged in -->
    <div *ngIf="showLogin">
      <app-login (login)="handleLoginSuccess()"></app-login>
      <p>Don't have an account? <button (click)="toggleAuthForm()" class="text-blue-500">Register here</button></p>
    </div>

    <div *ngIf="!showLogin">
      <app-register (register)="handleRegisterSuccess()"></app-register>
      <p>Already have an account? <button (click)="toggleAuthForm()" class="text-blue-500">Login here</button></p>
    </div>
  </ng-container>
  <router-outlet></router-outlet>
</div>
